.wrapperUncontrolled {
  background-image: url('../assets/icons/lines-first-bg.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

.wrapperControlled {
  background-image: url('../assets/icons/lines-second-bg.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

.formTitle {
  text-align: center;
  margin-block: 20px;
}

.formWrapper {
  background-color: #e0fbfc;
  max-width: 500px;
  margin: 0 auto 70px;
  padding: 16px;
  border-radius: 16px;
}

.form {
  display: flex;
  flex-direction: column;
  & > label,
  & > p {
    font-weight: 500;
    margin-top: 8px;
    margin-bottom: 5px;
  }
}

.raw {
  display: flex;
  align-items: center;
  gap: 8px;
}

.field {
  display: flex;
  flex-direction: column;
  min-height: 75px;
  & > label,
  & > p {
    font-weight: 500;
    margin-bottom: 5px;
  }
  &.smallField {
    min-height: 40px;
  }
  &.bigField {
    min-height: 95px;
  }
}

.strength {
  & > label {
    font-weight: 500;
  }
}

input {
  color: #293241;

  &:not([type='file']) {
    height: 30px;
    border: 1px solid #3d5a80;
    border-radius: 8px;
    padding-inline: 8px;
  }
  &[type='radio'],
  &[type='checkbox'] {
    width: 18px;
    height: 18px;
  }
}

.submitButton {
  padding: 8px 16px;
  margin-block: 20px;
  font-size: 16px;
  background-color: #3d5a80;
  color: white;
  border-radius: 20px;

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
